<nav class="{{ whiteClass ? 'white' : '' }} {{ menuActive ? 'active' : '' }}">
  <div class="logo">
    <a [routerLink]="['/']">
      <img
        src="../../assets/logo_{{ whiteClass ? 'white' : 'black' }}.svg"
        alt="Logo du site Kompyuta"
      />
      <p>コンピュータ</p>
    </a>
  </div>
  <ul class="mainmenu">
    <li><a [routerLink]="['configurateur']">Configurateur</a></li>
    <li>
      <a href="#"
        >Catalogue<img src="../../assets/chevron.svg" alt="Chevron"
      /></a>
      <ul class="submenu">
        <li>
          <a href="/">
            <h3 class="header">Ordinateurs fixes</h3>
            <img src="../../assets/ordi_fixes.png" alt="Ordinateurs fixes"
          /></a>
        </li>
        <div>
          <li>
            <a href="/">
              <h3 class="header">Composants</h3>
              <img src="../../assets/composants.png" alt="Composants"
            /></a>
          </li>
          <li>
            <a href="/">
              <h3 class="header">PC Portables</h3>
              <img
                src="../../assets/ordi_portables.png"
                alt="Ordinateurs portables"
            /></a>
          </li>
        </div>
      </ul>
    </li>
    <li><a [routerLink]="['comparateur']">Comparateur</a></li>
  </ul>
  <div class="buttons">
    <img src="../../assets/search.svg" alt="" />
    <img src="../../assets/basket.svg" alt="" />
    <img src="../../assets/account.svg" alt="" />
  </div>
  <button (click)="toggleMenu()" class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
