nav {
   top: 0;
   position: fixed;
   padding-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 940px;
   width: 80%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 9999;
   &.white{
      .logo{
         a{
            color: white;
         }
      }
      ul{
         li{
            a{
               color: white;
               & > img{
                  filter: none;
               }
            }
         }
      }
      .buttons{
         .btn_container{
            img{
               filter: none;
            }
         }
      }
      .mainmenu{
         > li{
            .submenu{
               background: var(--black);
               &::before{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  height: 68px;
                  background: var(--black);
                  content: '';
               }
            }
         }
      }
      .mobile-toggle{
         span{
            background: white;
         }
      }
      .search{
         input{
            border: 0;
         }
      }
   }

   .mainmenu{
      display: flex;
      list-style: none;
      gap: 25px;
      > li{
         > a{
            display: flex;
            justify-content: center;
            align-items: center;
            & > img{
               width: 15px;
               margin-left: 7px;
               transition: transform 0.3s;
               filter: invert(1);
            }
         }
         &:hover{
            img{
               transform: translateY(5px);
            }
            .submenu{
               opacity: 1;
               pointer-events: all;
            }
         }
         .submenu{
            box-shadow: 0 4px 8px rgba(0,0,0,0.16);
            list-style: none;
            display: grid;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s linear;
            height: 470px;
            position: fixed;
            background-color: white;
            width: calc(100% + 40px);
            left: -20px;
            top: 0;
            z-index: -1;
            padding: 70px 20px 20px;
            gap: 25px;
            grid-template-columns: 5fr 3fr;
            &::before{
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               height: 68px;
               background: white;
               content: '';
            }
            li{
               width: 100%;
               height: 100%;
               a{
                  width: inherit;
                  height: inherit;
                  color: white;
                  position: relative;
                  img{
                     width: inherit;
                     height: inherit;
                     object-fit: cover;
                  }
                  h3{
                     z-index: 1;
                     font-size: 2rem;
                     width: fit-content;
                     position: absolute;
                     left: 30px;
                     bottom: 30px;
                     margin: 0;
                  }
               }
            }
            > div{
               display: grid;
               grid-template-rows: 1fr 1fr;
               gap: 20px;
               a{
                  h3{
                     font-size: 1.5rem;
                  }
               }
            }
         }
      }
   }
   .logo{
      z-index: 1;
      a{
         align-items: center;
         display: flex;
         gap: 10px;
         text-decoration: none;
         color: inherit;
         p{
            font-weight: bold;
         }
      }
   }
   .buttons{
      z-index: 1;
      display: flex;
      gap: 15px;
      .btn_container{
         cursor: pointer;
         background: none;
         border: 0;
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         .badge{
            z-index: 1;
            position: absolute;
            bottom: -7px;
            left: -7px;
            background-color: red;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            width: 20px;
            height: 20px;
         }
         img{
            width: 25px;
            height: 25px;
            filter: invert(1);
         }
      }
   }
   .mobile-toggle{
      cursor: pointer;
      border: 0;
      width: 25px;
      height: 21px;
      display: none;
      background: none;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      span{
         transition: transform 0.3s;
         position: absolute;
         height: 2px;
         width: 100%;
         background: var(--black);
         transform-origin: right;
         left: 0;
         &:first-child{
            top: 0;
         }
         &:nth-child(2){
            top: 50%;
         }
         &:last-child{
            bottom: 0;
         }
      }
   }
   .search{
      position: absolute;
      top: 10px;
      left: 50%;
      width: 50%;
      min-width: 300px;
      transform: translateX(-50%);
      pointer-events: none;
      &.active{
         pointer-events: all;
         input{
            opacity: 1;
            transform: translate(0, 50px);
            transition: transform 0.3s cubic-bezier(.79,.05,.02,.96), opacity 0.1s linear 0.2s;
         }
      }
      input{
         border: 1px solid black;
         transition: transform 0.5s cubic-bezier(.79,.05,.02,.96), opacity 0.1s linear;
         padding: 10px;
         border-radius: 20px;
         height: 44px;
         width: 100%;
         color: black;
         transform: translateX(100%);
         opacity: 0;
      }
   }
}
@media screen and(max-width: 900px) {
   nav {
      width: 100%;
      padding: 5px 50px;
   
   }
   nav, nav.white{
      .logo{
         flex: 1;

            p {
               font-size: 0.85rem;
            }
      }

      .buttons .btn_container img {
         width: 18px;
      }
      .mobile-toggle{
         display: block;
      }
      .mainmenu{
         transform: translateY(-10px);
         transition: transform 0.3s ease-out, opacity 0.2s;
         opacity: 0;
         pointer-events: none;
         width: 100%;
         position: absolute;
         top: 100%;
         flex-direction: column;
         align-items: flex-start;
         gap: 15px;
         padding: 20px 0;
         > li{
            > a{
               justify-content: flex-start;
            }
            .submenu{
               background: none;
               opacity: 1;
               pointer-events: all;
               position: relative;
               margin-left: 15px;
               display: flex;
               flex-direction: column;
               height: auto;
               width: auto;
               padding: 0;
               left: 0;
               gap: 0;
               z-index: 0;
               box-shadow: none;
               
               li{
                  margin-top: 10px;
                  a{
                     h3{
                        position: relative;
                        font-size: 1rem;
                        font-weight: normal;
                        left: 0;
                        color: var(--black);
                        bottom: 0;
                        &::before{
                           content: none;
                        }
                     }
                     img{
                        display: none;
                     }
                  }
               }
               &::before{
                  content: none;
               }
               > div{
                  gap: 0;
               }
            }
         }
         &::before{
            position: absolute;
            width: calc(100% + 40px);
            height: 100%;
            background: white;
            left: -20px;
            top: -68px;
            z-index: -1;
            padding-top: 68px;
            content: "";
         }
      }
      &.active{
         .mainmenu{
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
         }
         .mobile-toggle{
            span{
               &:first-child{
                  transform: translateX(-4px) rotate(-45deg);
               }
               &:nth-child(2){
                  transform: translateX(-100%);
               }
               &:last-child{
                  transform: translateX(-4px) rotate(45deg);
               }
            }
         }
      }
   }
   nav.white{
      .mainmenu{
         > li{
            .submenu{
               li{
                  a{
                     h3{
                        color: var(--white);
                     }
                  }
               }
            }
         }
         &::before{
            background: var(--black);
         }
      }
   }
}