.subtitle{
   text-align: center;
}
.search_section{
   display: flex;
   gap: 30px;
   .filters, .topbar{
      padding: 30px;
      border: 1px solid black;
   }
   .filters{
      height: fit-content;
      .confirmer_selection{
         display: block;
         margin-top: 20px;
      }
      .filters_title{
         text-align: center;
         border: 1px solid black;
         padding: 5px;
         margin-bottom: 20px;
      }
      .range{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         input{
            width: 100%;
         }
      }
   }

   .results{
      flex: 1;
      .topbar{
         padding: 5px 10px;
         display: flex;
         gap: 5rem;
         margin-bottom: 30px;
         p:first-child{
            flex: 1;
         }
         font-weight: bold;
      }
      .items{
         display: flex;
         flex-direction: column;
         gap: 10px;
      }
   }

   .confirm-selection {
      display: flex;
      justify-content: center;
      align-items: center;
   } 
}
.no-product{
   text-align: center;
   font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
   .search_section {
      flex-direction: column;
   }
}

@media screen and (max-width: 525px) {
   .search_section {
      .results .topbar {
         display: none;
      }


   }
}

@media screen and (max-width: 420px) {
   .search_section {
      
      .filters {
         padding: 10px;
      }
   }
}