.columns{
    display: flex;
    gap: 20px;
    .col{
        border: 1px solid black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .right{
        flex: 1;
        gap: 15px;
    }
    .left{
        gap: 20px;
        .item_image{
            border: 1px solid black;
            aspect-ratio: 1;
            height: 250px;
            object-fit: contain;
        }
        .price_components{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .price_component{
                display: flex;
                justify-content: space-between;
                p{
                    font-size: 14px;
                }
                &.total, &.bonus3000{
                    p{
                        font-weight: bold;
                    }
                }
            }
        }
        .confirm_button{
            margin: auto;
        }
    }
}

.no-data {
    text-align: center;
    margin-top: 10px;
 }
@media screen and (max-width: 1000px) {
    .columns {
        flex-direction: column;
    }
}

@media screen and (max-width: 625px) {
    .columns .col { padding: 10px; }
}