<div class="content" *ngIf="currentPcData != null">
  <app-modale
    [modalOpened]="modalOpened"
    [currentComponent]="currentComponent"
    [filteredElements]="filteredComponents"
    (modalClosed)="onModalClose()"
    (selectItemEvent)="onSelectItemClick($event)"
  ></app-modale>
  <section>
    <h2 class="header_2 h_3000">Le configurateur</h2>
  </section>
  <section>
    <div class="columns">
      <div class="left col">
        <img
          class="item_image"
          src="../../assets/images_ordis/{{ currentPcData.images[0] }}"
          alt=""
        />
        <h3 class="item_title">
          {{ currentPcData.marque + " " + currentPcData.nom }}
        </h3>
        <div
          class="prices"
          *ngLet="dataService.getTotalPrice(currentPcData) as totalPrice"
        >
          <div class="price_components">
            <span class="clear"></span>
            <div class="price_component">
              <p class="price_title">Prix composants</p>
              <p class="price_value">{{ totalPrice }}€</p>
            </div>
            <div class="price_component">
              <p class="price_title">Frais de port</p>
              <p class="price_value">15.00€</p>
            </div>
            <div class="price_component">
              <p class="price_title">TVA (20%)</p>
              <p class="price_value">
                {{ totalPrice * 0.2 | number: "1.2-2":"fr" }}€
              </p>
            </div>
            <div
              *ngIf="totalPrice * 1.2 + 15 < 3000"
              class="price_component bonus3000"
            >
              <p class="price_title">Bonus 3000</p>
              <p class="price_value">
                {{ 3000 - (totalPrice * 1.2 + 15) | number: "1.2-2":"fr" }}€
              </p>
            </div>
            <span class="clear"></span>
            <div class="price_component total">
              <p class="price_title">Total</p>
              <p class="price_value">3000.00€</p>
            </div>
          </div>
          <div class="price_total"></div>
        </div>
        <app-text-icon-button
          class="confirm_button"
          text="Confirmer la config"
          (click)="onConfirmPcClick()"
        ></app-text-icon-button>
      </div>
      <div class="right col">
        <div class="component">
          <app-search-item
            (buttonClicked)="handleEditClick($event)"
            [item]="currentPcData.system.ram"
            [configurateur]="true"
          ></app-search-item>
        </div>
        <div class="component">
          <app-search-item
            (buttonClicked)="handleEditClick($event)"
            [item]="currentPcData.system.hdd"
            [configurateur]="true"
          ></app-search-item>
        </div>
        <div class="component">
          <app-search-item
            (buttonClicked)="handleEditClick($event)"
            [item]="currentPcData.system.cpu"
            [configurateur]="true"
          ></app-search-item>
        </div>
        <div class="component">
          <app-search-item
            (buttonClicked)="handleEditClick($event)"
            [item]="currentPcData.system.cg"
            [configurateur]="true"
          ></app-search-item>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content" *ngIf="currentPcData == null">
  <section>
    <h2 class="header_2 h_3000">Le configurateur</h2>
  </section>

  <p class="no-data">
    Rendez-vous dans notre catalogue pour choisir un ordinateur à configurer
  </p>
</div>
