<div class="content">
  <section>
    <div class="product-infos">
      <div class="product-gallery">
        <div class="main">
          <img src="../../assets/ordi_fixes.png" alt="Image du Produit" />
        </div>
        <div class="gallery">
          <div class="el">
            <img src="../../assets/ordi_fixes.png" alt="Image du Produit" />
          </div>
          <div class="el">
            <img src="../../assets/ordi_fixes.png" alt="Image du Produit" />
          </div>
          <div class="el">
            <img src="../../assets/ordi_fixes.png" alt="Image du Produit" />
          </div>
        </div>
      </div>
      <div class="product-desc">
        <h1>Ordinateur gamerz</h1>
        <div class="reviews">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-thin fa-star"></i>
          <i class="fa-thin fa-star"></i>
          <span class="avis">(110avis)</span>
        </div>
        <h2 class="price">449.00€</h2>
        <p class="desc">
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla
        </p>
        <div class="actions">
          <button></button>
        </div>
      </div>
    </div>
  </section>
</div>
