.product-infos{
   display: flex;
   justify-content: space-between;
   gap: 50px;
   width: 100%;
   .product-gallery{
      cursor: pointer;
      width: 40%;
      .main{
         padding: 10px;
         border: 1px solid black;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 10px;
         width: 100%;
         height: 400px;
      }
      .gallery{
         overflow: hidden;
         flex-wrap: nowrap;
         display: flex;
         gap: 10px;
         .el{
            padding: 5px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 125px;
         }
      }
      img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   .product-desc{
      max-width: 40%;
      .price{
         margin: 15px 0;
      }
      .reviews{
         font-size: 13px;
         margin: 20px 0;
         i{
            color: var(--yellow);
         }
         .avis{
            margin-left: 20px;
         }
      }
      .actions{
         display: flex;
         gap: 10px;
      }
   }
}
.components, .les_plus{
   ul{
      list-style: none;
      li{
         display: flex;
         gap: 15px;
         align-items: center;
         margin: 15px 0;
         img{
            width: 30px;
            height: 100%;
            object-fit: contain;
         }
      }
   }
}
.articles_similaires{
   .carousel{
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      overflow-x: auto;
      padding-bottom: 10px;
   }
}

@media screen and (max-width: 1000px) {
   .product-infos {
      gap: 10px;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .product-gallery {
         order: 2;
         width: 100%;
      }
      .product-desc {
         order: 1;
         max-width: 100%;
      }
   }
}

@media screen and (max-width: 420px) {

   .product-infos {
      .product-desc {
         .actions {
            flex-direction: column;
            width: 100%;
            gap: 0px;
         }
      }
   }
   
}