<div class="content" *ngIf="data">
  <app-breadcrumb></app-breadcrumb>
  <section>
    <div class="product-infos">
      <div class="product-gallery">
        <div class="main">
          <img
            src="../../assets/images_ordis/{{ data.images[currentImageIndex] }}"
            alt="Image du Produit"
          />
        </div>
        <div class="gallery">
          <ng-container *ngFor="let image of data.images; let index = index">
            <div *ngIf="image != data.images[currentImageIndex]" class="el">
              <img
                (click)="updateMain(index)"
                src="../../assets/images_ordis/{{ image }}"
                alt="Image du Produit"
              />
            </div>
          </ng-container>
        </div>
      </div>
      <div class="product-desc">
        <h1>{{ data.marque + " - " + data.nom }}</h1>
        <div class="reviews">
          <i *ngFor="let i of filledStars" class="fa-solid fa-star"></i>
          <i *ngFor="let i of shallowStars" class="fa-thin fa-star"></i>
          <span class="avis"
            >({{ data.reviews.positive + data.reviews.negative }} avis)</span
          >
        </div>
        <h2 class="price">{{ data.prix }}€</h2>
        <p class="desc">{{ data.description }}</p>
        <div class="actions">
          <app-text-icon-button
            (click)="navigateConfigurateur()"
            image="<i class='fa-solid fa-pen'></i>"
          ></app-text-icon-button>
          <app-text-icon-button text="Comparer"></app-text-icon-button>
          <app-text-icon-button
            (click)="onClickAjouterPanier()"
            text="Ajouter au panier"
          ></app-text-icon-button>
        </div>
      </div>
    </div>
  </section>
  <section class="les_plus">
    <h3 class="bold_title">Les + du produit</h3>
    <ul>
      <li>Stockage</li>
      <li>Mémoire vive</li>
      <li>Processeur</li>
    </ul>
  </section>
  <section class="components">
    <h3 class="bold_title">Composants</h3>
    <ul>
      <li>
        <img src="../../assets/ram.png" alt="Ram" />
        <p>
          Corsair Value Select {{ data.system.ram }} Go (2x{{
            data.system.ram / 2
          }}
          Go) DDR3 1600 MHz CL11
        </p>
      </li>
      <li>
        <img src="../../assets/ssd.png" alt="Storage" />
        <p>
          {{ data.system.hdd.type }} {{ data.system.hdd.capacite }}Go ({{
            data.system.hdd["vitesse-transfert"]
          }}MB/s)
        </p>
      </li>
      <li>
        <img src="../../assets/gpu.png" alt="GPU" />
        <p>{{ data.system.cg.marque + " " + data.system.cg.modele }}</p>
      </li>
      <li>
        <img src="../../assets/cpu.png" alt="CPU" />
        <p>
          {{
            data.system.cpu.marque +
              " " +
              data.system.cpu.nom +
              " (" +
              data.system.cpu.core +
              " coeurs / " +
              data.system.cpu["frequence-max"] / 1000 +
              "GHz)"
          }}
        </p>
      </li>
    </ul>
    <app-text-icon-button
      text="Éditer"
      image="<i class='fa-solid fa-pen'></i>"
    ></app-text-icon-button>
  </section>
  <section class="articles_similaires">
    <h3 class="bold_title">Articles similaires</h3>
    <div class="carousel">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </section>
</div>
