.product-infos{
   display: flex;
   justify-content: space-between;
   gap: 50px;
   width: 100%;
   .product-gallery{
      cursor: pointer;
      max-width: 40%;
      .main{
         padding: 10px;
         border: 1px solid black;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 10px;
      }
      .gallery{
         overflow: hidden;
         flex-wrap: nowrap;
         display: flex;
         gap: 10px;
         .el{
            padding: 5px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
         }
      }
      img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   .product-desc{
      max-width: 40%;
      .reviews{
         font-size: 13px;
         i{
            color: var(--yellow);
         }
         .avis{
            margin-left: 20px;
         }
      }
      .desc{
      }
   }
}