.item{
   padding: 5px 10px;
   display: flex;
   border: 1px solid black;
   align-items: center;
   gap: 15px;
   height: 72px;
   overflow: hidden;
}
.item_title_container{
   flex: 1;
   .custom{
      font-size: 12px;
      color: var(--blue);
   }
}
.actions{
   margin-left: 40px;
   display: flex;
   gap: 10px;
}
img{
   height: 50px;
   width: 50px;
   object-fit: contain;
}
p{
   white-space: nowrap;
   &.item_price{
      font-weight: bold;
   }
}