<div class="item">
  <img
    *ngIf="item.images"
    src="../../assets/images_ordis/{{ item.images[0] }}"
    alt="Image du produit"
  />
  <div class="item_title_container">
    <p class="item_title">
      {{ item.marque || (item.value && "RAM " + item.value + "GB") || (item.type && item.type + " " + item.capacite + "GB") }}
      {{ item.nom || item.modele || item.composant }}
    </p>
    <p *ngIf="item.custom" class="custom">Personnalisé</p>
  </div>
  <p *ngIf="item.prix" class="item_price">{{ item.prix }}€</p>
  <div *ngIf="item.typeObjet != 'composant'" class="actions">
    <app-text-icon-button
      *ngIf="trash && index != undefined && !configurateur"
      (click)="deleteFromPanier(index)"
      color="white"
      image='<i class="fa-solid fa-trash"></i>'
      bg="var(--blue)"
    ></app-text-icon-button>
    <a *ngIf="!configurateur" [routerLink]="['/product', item.id]">
      <app-text-icon-button
        color="white"
        image='<i class="fa-solid fa-eye"></i>'
        bg="var(--blue)"
      ></app-text-icon-button>
    </a>
    <app-text-icon-button
      (click)="onEditClick()"
      color="white"
      image='<i class="fa-solid fa-pen"></i>'
      bg="var(--blue)"
    ></app-text-icon-button>
  </div>
</div>
