<div class="content">
  <section class="hero">
    <img
      class="bg"
      src="../../assets/hero_bg.png"
      alt="Background Hero Section"
    />
    <img class="chevron" src="../../assets/chevron.svg" alt="Chevron" />
    <div class="cta-title">
      <h1>Votre ordinateur personnalisé livré <span>dès demain</span>.</h1>
      <p>
        Nos experts ont conçu un test sur mesure afin de vous permettre de
        trouver un ordinateur à votre image.
      </p>
      <a href="#custom">Essayer dès maintenant</a>
    </div>
  </section>
  <section class="nouveautes">
    <h1 class="header h_3000">Nouveautés</h1>
    <div class="carousel">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </section>
  <section class="categories">
    <h1 class="header h_3000">Par catégories</h1>
    <div class="carousel">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </section>
  <section class="custom" id="custom">
    <h1 class="header h_3000">Sur-mesure</h1>
    <div class="buttons">
      <a class="quiz" href="/quiz">quiz</a>
      <a class="scratch" href="/configurateur">à partir de rien</a>
    </div>
  </section>
  <section class="supporters">
    <h1 class="header_2">Ils nous font confiance.</h1>
    <img src="../../assets/supporters.png" alt="Logos des supporters" />
  </section>
  <section class="contact">
    <h1 class="header_2">Une remarque, une question ?</h1>
    <div>
      <h2>Contactez-nous</h2>
      <p>Nos experts vous répondront dès le jour même !</p>
    </div>
    <form action="#">
      <input placeholder="adresse mail" type="email" name="email" id="email" />
      <input
        placeholder="votre message"
        type="text"
        name="message"
        id="message"
      />
      <input type="submit" value="Envoyer le formulaire" />
    </form>
    <span class="clear"></span>
  </section>
</div>
