<div class="content" style="padding-top: 0">
  <section class="hero">
    <!-- <img
      class="bg"
      src="../../assets/hero_bg.png"
      alt="Background Hero Section"
    /> -->
    <img class="chevron" src="../../assets/chevron.svg" alt="Chevron" />
    <div class="cta-title">
      <h2>Votre ordinateur personnalisé livré <span>dès demain</span>.</h2>
      <p>
        Nos experts ont conçu un test sur mesure afin de vous permettre de
        trouver un ordinateur à votre image.
      </p>
      <a [routerLink]="['test']">Essayer dès maintenant</a>
    </div>
  </section>
  <section class="nouveautes">
    <h2 class="header h_3000">Nouveautés</h2>
    <div class="carousel">
      <app-card [data]="pcs[0]"></app-card>
      <app-card [data]="pcs[1]"></app-card>
      <app-card [data]="pcs[2]"></app-card>
    </div>
  </section>
  <!-- <section class="categories">
    <h2 class="header h_3000">Par catégories</h2>
    <div class="carousel">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </section> -->
  <section class="custom" id="custom">
    <h2 class="header h_3000">Sur-mesure</h2>
    <p>Trouvez le PC de vos rêves</p>
    <div class="buttons">
      <a class="quiz" [routerLink]="['test']">quiz</a>
      <a class="scratch" [routerLink]="['configurateur']">à partir de rien</a>
    </div>
  </section>
  <section class="supporters">
    <h2 class="header">Ils nous font confiance.</h2>
    <img src="../../assets/supporters.png" alt="Logos des supporters" />
  </section>
  <section class="contact">
    <h2 class="header">Une remarque, une question ?</h2>

    <div class="lower-contact">
      <div>
        <h3>Contactez-nous</h3>
        <p>Nos experts vous répondront dès le jour même !</p>
      </div>
      <form action="#">
        <label for="email">Adresse mail</label>
        <input type="email" name="email" id="email" />
        <label for="message">Votre message</label>
        <textarea name="message" id="message" cols="30" rows="4"></textarea>
        <input type="submit" value="Envoyer le formulaire" />
      </form>
    </div>
    <span class="clear"></span>
  </section>
</div>
